.favorite_games{
    margin:1rem;
    >.info{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
        font-size: 0.7rem;
    }
}