.game_options_type{
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:2rem;
    margin-top:35px;
    color:whitesmoke;
   
    >.line{
        font-size: 0.8rem;
        display:flex;
        align-items: center;
        gap:0.5rem;
        >button{
            width:150px;
            background-color: transparent;
            border:none;
            display:flex;
            font-size: 0.7rem;
            color:whitesmoke;
            
        }
    }
}