.history{
    background-color:#e8e8e8;
    width:100%;
    margin-top:100px;
    >.info{
        display:flex;
        align-items:center;
        justify-content:center;
        font-size: 0.8rem;
        font-weight:bold;
        margin: 0.5rem;
    }

    >.margin_bottom{
        margin-bottom: 150px;
    }
}