.joined{
    min-height:60vh;
    max-height: 60vh;
    overflow: auto;
    >.top{
        border-bottom: 1px solid gray;
        height:60px;
        display:flex;
        align-items:center;
        position:fixed;
        top:35px;
        width:100%;
        background-color:gray;
        z-index:1;

    }
    
    >.bottom{
       
        margin-top: 0.5rem;
        min-height: calc(60vh - 50px - 60px);
        max-height: calc(60vh - 50px - 60px);
        overflow:auto;
        position:fixed;
        width:100%;
        top:60px;
    }

    >.joined_footer{
        background-color:indianred;
        position:fixed;
        bottom:0;
        width: 100%;
        height:50px;
        display:flex;
        align-items:center;
        
		

        >button{
            flex:1;
            margin:0.5rem;
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction: column;
            font-size: 0.7rem;
            background-color: transparent;
            border:none;
            color:silver;
        }

       /* >button:first-child{
            width: 30px;
            height:30px;
            border-radius: 50%;
            border:none;
            background-color:indianred;
            color:white;
        }

        >button:nth-child(2),button:nth-child(3),button:nth-child(4){
            flex:1;
            background-color:transparent;
            color:white;
            border:none;
            border-bottom: 1px solid transparent;
        }*/

        >button.active{
            font-weight: bold;
            border-bottom: 1px solid whitesmoke;
            color:whitesmoke;      
        }

       
    }
    
    

    
}

.joined_footer_close_btn{
    position:fixed;
    right:0;
    top:0;
    z-index: 999;
}