.live{
    background-color:black;
    width:100%;
    min-height: calc(100vh - 125px - 100px );
    margin-top:116px;
    >.invites{
        >h2{
            text-align: center;
            font-size: 0.8rem;
            margin-top: 0.5rem;
            color:indianred;
        }
    }
   >.info{
       display:flex;
       align-items:center;
       justify-content:center;
       padding:1rem;
       font-size: 0.7rem;
       font-weight:bold;
       color:white;

       >p{
           color:white;
       }
   }
   >.live_body{
      
       >h2{
           text-align: center;
           font-size: 0.8rem;
           color:green;
           margin-top: 0.5rem;
       }
       >div{
           
           display:flex;
           flex-direction:column;
           margin-bottom: 0;

           >p{
               text-align: center;
               font-size: 0.7rem;
               font-weight: bold;
               background-color:#474f4f;
               color:whitesmoke;
               width:80px;
               margin:auto;
               margin-top: 1rem;
               padding:0.3rem;
           }
       }

       >div:last-child{
           
           margin-bottom: 90px;
       }
   }

   >.margin_bottom{
      margin-bottom: 150px;
   }
}



