.main{
   position: relative;
   background-color: black;
    >.chat_btn{
        background-color: indianred;
        position:fixed;
        bottom:120px;
        right:1rem;
        z-index: 1;
        width:2.5rem;
        height: 2.5rem;
        color:white;
        border-radius: 50%;
        border:none;
        opacity: 1;
    }

 
}


.quick_play{
    margin-bottom: 100px;
}


.main2{
    >.content{
        position:fixed;
        width:100%;
        top:100px;
        min-height:calc(100vh - 120px - 100px);
    }
}



