.pageContainer{
    color:white;
    display:flex;
    
    min-height:100% !important;
    >.content{
        flex:1;
        display:flex;
        flex-direction: column;
        margin:0.5rem;
        position:relative;
        
       
        >.creator{
            position:absolute;
            bottom:0rem;
            width:100%;
            
            >h4{
                font-size: 0.7rem;
                color:dimgray;
            }
            >div{
                display:flex;
                align-items: center;
                margin-top: 0.5rem;
                padding-top: 0.5rem;
                border-top: 1px solid dimgray;
                >img{
                    width:40px;
                    height:40px;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }

                >p{
                    font-size: 0.8rem;
                    margin-right: 2rem;
                }
                >button{
                    background-color:indianred;
                    padding:0.5rem 1rem;
                    border:none;
                    color:white;
                    border-radius: 3px;
                    font-size: 0.8rem;
                }
            }
        }

        >.body{
            flex:1;
            
            margin-bottom: 1rem;
            display:flex;
            flex-direction: column;
           

            >.configurations{
                
               /*display:grid;
                grid-template-columns:50% 50%;*/
                display:flex;
                flex-direction: column;
                margin-top: 0.5rem;
                border-bottom: 1px solid dimgray;
                padding-bottom: 1rem;

                >div{
                    display:flex;
                    font-size: 0.7rem;
                    color:gray;
                    justify-content:space-between;
                    margin-top: 0.5rem;
                    >p{
                        border-right: 1px solid dimgray;
                        padding-right: 0.5rem;
                        &:last-child{
                            border:none;
                        }
                    }
                }
                >button{
                    padding:0.3rem;
                    font-size: 0.6rem;
                    text-transform: uppercase;
                    margin:0.3rem;
                    background-color: white;
                    border:none;
                    border-radius: 2px;
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    

                    &.entry{
                        color:indianred;
                        font-weight: bold;
                    }
                    >label{
                        font-weight: bold;
                        color:black;
                    }

                }
            }

            >.players{
                
                margin-top: 1rem;
                
                >ul{
                    padding:0;
                    margin-left:1rem;
                    >li{
                        font-size: 0.8rem;
                        margin-top: 0.5rem;
                    }
                }

                >.all_games{
                    background-color:transparent;

                    >p{
                        font-size: 0.7rem;
                        color:indianred;
                        text-align: center;
                    }
                    >div{
                        display:flex;
                        flex-direction: column;
                        >p{
                            color:white;
                            margin-top: 0.5rem;
                            margin-left: 0.5rem;
                            font-size: 0.7rem;
                            font-weight: bold;
                        }

                        >.match{
                            >div{
                                font-size: 0.6rem;
                                >*{
                                    font-size: 0.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    >.actions{
        width:70px;
        margin:0.5rem;
        position:relative;
        
        >.top{
            
            display:flex;
            align-items: center;
            justify-content:center;
            flex-direction: column;
            
            >button{
                border:none;
                background-color:transparent;
                color:white;
                margin-bottom: 1rem;
                display:flex;
                flex-direction: column;
                align-items: center;

                >p,label{
                    font-size: 0.7rem;
                    color:gainsboro;
                }

                &:nth-child(2){
                    color:green;
                    font-weight: bold;
                    >p{
                        color:gainsboro;
                        font-weight: normal;
                    }
                }
            }
        }

        >.center{
            display:flex;
            flex-direction: column;

            align-items: center;
            justify-content:center;
            position:absolute;
            z-index: 999999999;
            >button{
                border:none;
                background-color:transparent;
                color:white;
                margin-bottom: 0.5rem;

                >p{
                    font-size: 0.7rem;
                    color:gainsboro;
                }

                &:nth-child(2){
                    color:green;
                    font-weight: bold;
                    >p{
                        color:gainsboro;
                        font-weight: normal;
                    }
                }
            }
        }
        >.bottom{
            display:flex;
            flex-direction: column;
            position:absolute;
            bottom:2rem;
            width:100%;
            

            >button{
                margin-top: 0.75rem;
                display:flex;
                flex-direction: column;
                align-items: center;
                background-color:transparent;
                border:none;
                color:white;
                >label{
                    font-size: 0.7rem;
                    color:gainsboro;
                }

                &.join_btn{
                    
                    width:40px;
                    margin:auto;
                    height:40px;
                    border-radius: 50%;
                    justify-content:center;
                    margin-top: 0.2rem;
                   /* background-color:dimgray;*/
                   z-index: 999999999999999999;
                    &.active{
                        background-color:indianred;
                    }
                }
            }
        }
       
    }
}