.pageContainer{
    color:white;
    display:flex;
    
    min-height:100% !important;
    >.content{
        flex:1;
        display:flex;
        flex-direction: column;
        margin:0.5rem;
        position:relative;
        
       
        >.creator{
            position:absolute;
            bottom:0rem;
            width:100%;
            >h4{
                font-size: 0.9rem;
            }
            >div{
                display:flex;
                align-items: center;
                margin-top: 0.5rem;
                padding-top: 0.5rem;
                border-top: 1px solid dimgray;
                >img{
                    width:40px;
                    height:40px;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }

                >p{
                    font-size: 0.8rem;
                    margin-right: 2rem;
                }
                >button{
                    background-color:indianred;
                    padding:0.5rem 1rem;
                    border:none;
                    color:white;
                    border-radius: 3px;
                    font-size: 0.8rem;
                }
            }
        }

        >.body{
            flex:1;
            margin-bottom: 1rem;
            display:flex;
            flex-direction: column;

            >.configurations{
                
                display:grid;
                grid-template-columns:50% 50%;
                >button{
                    padding:0.5rem;
                    font-size: 0.6rem;
                    text-transform: uppercase;
                    margin:0.3rem;
                    background-color: white;
                    border:none;
                    border-radius: 2px;
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    >label{
                        font-weight: bold;
                    }

                }
            }

            >.players{
                flex:1;
                
                >ul{
                    padding:0;
                    margin-left:1rem;
                    >li{
                        font-size: 0.8rem;
                        margin-top: 0.5rem;
                    }
                }

                >.games{
                    background-color:transparent;
                    >div{
                        display:flex;
                        flex-direction: column;
                        min-height:40vh;
                        max-height:40vh;
                        overflow: auto;
                        border:1px solid red;
                    }
                }
            }
        }
    }
    >.actions{
        width:70px;
        margin:0.5rem;
        position:relative;
        
        >.top{
            
            display:flex;
            align-items: center;
            justify-content:center;
            >button{
                border:none;
                background-color:transparent;
                color:white;
                >p{
                    font-size: 0.7rem;
                }
            }
        }
        >.bottom{
            display:flex;
            flex-direction: column;
            position:absolute;
            bottom:2rem;
            width:100%;

            >button{
                margin-top: 1.5rem;
                display:flex;
                flex-direction: column;
                align-items: center;
                background-color:transparent;
                border:none;
                color:white;
                >label{
                    font-size: 0.7rem;
                }

                &.join_btn{
                    border:1px solid indianred;
                    width:50px;
                    margin:auto;
                    height:50px;
                    border-radius: 50%;
                    justify-content:center;
                    background-color:indianred;
                }
            }
        }
       
    }
}