.profile{
    min-height: 80vh;
    max-height: 80vh;
    overflow: auto;

    >.profile_footer{
        position:fixed;
        background-color: black;
        color:white;
        bottom:0;
        width:100%;
        height: 50px;
        display:flex;
        align-items: center;

        >button{
            flex:1;
            margin: 0.5rem 0;
            font-size: 0.6rem;
            display:flex;
            flex-direction: column;
            align-items: center;
            border:none;
            background-color: transparent;
            color:white;
        }
        >button.active{
            border-bottom: 1px solid silver;
        }
    }
}