.profile_photo{
    background-color:black;
    min-height: 100vh;
    color:white;

    >.head{
        display:flex;
        align-items:center;
        gap:1rem;
        background-color:var(--sub_black);
        height: 60px;
        color:"whitesmoke";
        >button{
            padding:0.5rem;
            border:none;
            background-color:var(--sub_black);
            color:white;
        }
        >h2{
            color:white;
            font-size: 1rem;
        }
    }

    >.body{
       
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top: 1rem;
        font-size: 0.8rem;

        >.zone_image{
            
            display:flex;
            position:relative;
            width:10rem;
            height: 10rem;
            border:none;
            background-color:var(--sub_black);
            border-radius: 50%;
            align-items:center;
            justify-content:center;
            margin-top:1rem;

            >img{
                width:9rem;
                height:9rem;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        >.btn_finish{
            width:150px;
            padding:0.7rem;
            border:none;
            background-color:black;
            color:white;
            border:1px solid silver;
            margin-top: 1rem;
            border-radius: 5px;
            font-weight: bold;
            display:flex;
            align-items:center;
            justify-content:center;
            gap:0.5rem;
            
        }

        >.alerte{
            color:indianred;
            margin-top: 0.5rem;
            text-align: center;
        }
    }
}