.terms_conditions{
    background-color:black;
    height:100vh;
    
    >.top{
        color:whitesmoke;
        display:flex;
        align-items: center;
        height:60px;
        background-color:var(--sub_black);

        >button{
            padding:0.5rem;
            background-color:transparent;
            border:none;
            color:whitesmoke;
        }
        >h2{
            font-size:0.9rem;
        }
    }

    >.content{
        position:fixed;
        top:60px;
        color:whitesmoke;
        width:100%;
        min-height: calc(100vh - 60px);
        max-height:calc(100vh - 60px);
        overflow:auto;
        font-size:0.7rem;
        >*{
            padding:1rem;
        }
    }
}