.user_profile{
    background-color: black;
    height:100vh;
    overflow: auto;
    color:white;

    >.top{
        display:flex;
        position:fixed;
        width:100%;
        top:0;
        height:60px;
        background-color:var(--sub_black);
        align-items: center;
        z-index: 1;
        >button{
            padding:0.5rem;
            background-color: transparent;
            color:whitesmoke;
            border:none;
        }
        >h2{
            font-size: 0.9rem;
        }
    }
    
    >.content{
        position:fixed;
        width:100%;
        top:60px;
        min-height: calc(100vh - 110px);
        max-height: calc(100vh - 110px);
        overflow:auto;
        background-color:black;
    }
    
    >.user_profile_bottom{
        position:fixed;
        bottom:0;
        background-color: var(--sub_black);
        width:100%;
        display:flex;
        align-items: center;
        height: 50px;
        
        >button{
            flex:1;
            font-size: 0.7rem;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color:gray;
            background-color: transparent;
            border:none;
           
        }

        >button.active{
            border-bottom: 2px solid white;
            color:whitesmoke;
        }
    }

    >.user_profile_close_btn{
        position:fixed;
        top:0;
        right:0.5rem;
        z-index: 999;
        width:30px;
        height: 30px;
        background-color: indianred;
        border:none;
        color:white;
        border-radius: 50%;
        display:flex;
        align-items: center;
        justify-content: center;


    }

  
}