.subscription{
	background-color:whitesmoke;
	min-height:100vh;
	
	.subscription_body{
		.top{
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
			padding:1rem;
			
			> h1{
				font-size:1.5rem;
				color:indianred;
				margin-bottom:0.5rem;
			}
			
			> p{
				color:gray;
				font-size:1rem;
			}
		}
		
		.options{
			display:flex;
			align-items:center;
			justify-content:center;
			margin-top:1rem;
			margin-bottom:2rem;
			>button{
				width:150px;
				height:100px;
				margin-right:1rem;
				padding:0.5rem;
				background-color:white;
				border:1px solid silver;
				border-radius:5px;
				display:flex;
				flex-direction:column;
				justify-content:center;
				align-items:center;
				
				> p{
					color:gray;
				}
			}
			
			>button:last-child{
				margin-right:0;
			}
		}
		
		.submit_zone{
			display:flex;
			align-items:center;
			justify-content:center;
			
			margin-bottom:2rem;
			
			> button{
				width:60%;
				padding:1rem;
				border:none;
				background-color:indianred;
				color:white;
				font-size:1.1rem;
				font-weight:bold;
				border-radius:5px;
			}
		}
		
		.faq{
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			margin-bottom:1rem;
			padding:1rem;
			> h3{
				font-size:1rem;
				margin-bottom:0.5rem;
			}
			
			> p{
				text-align:center;
				color:gray;
				font-size:0.8rem;
			}
			
		}
	}
}